body {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.mainContainer {
  border:2px solid blue;
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  height:200px;
  margin-left:36%;
  border-radius:30px;
  padding: 10px 10px;
  margin-top:20px;
  background-color:black;
}
.firstRow, .secondRow, .thirdRow, .fourthRow {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:29px;
    margin-bottom:10px;
}
.clear {
    display:flex;
    justify-content:center;
    border:none;
    color:blue;
    background-color:white;
    border:none;
    border-radius:5px;
    width:100px;
    box-sizing:2px 1px 4px 10px black;
    text-decoration:none;
    align-items:center;
    
}
.clear:hover {
    transition:.5s;
    color:white;
    background-color:blue;
}
.display {
    display:flex;
    justify-content:flex-end;
    text-align:center;
    word-break:break-all;
    background-color:gray;
    color:1;
    height:40px;
    width:200px;
    margin-bottom:10px;
    border-radius:10px;
    color: white;
    padding:3px 2px;
}
.numbers  {
    color:white;
    background-color:rgb(44, 43, 43);
    justify-self:flex-end;
    border-radius:10px;
    box-shadow:.1px .1px 10px rgb(77, 74, 74);
    cursor: pointer;
    padding:3px 6px;
    font-weight:bold;

}
.numbers:hover {
    transition: 0.5s;;
    color:blue;
    background-color:white;

}

#decimal {
    width:8px;
    font-weight:bolder;
    text-align:center;
    height:16px;
    padding-bottom:7px;
}


#equal {
    background-color:green;
    color:white;
    justify-self:flex-end;
    border-radius:10px;
    box-shadow:.4px 1.5px 5px black;
    cursor: pointer;
    padding:3px 6px;
    font-weight:bold;

}
.mathKeys {
    color:white;
    background-color:rgb(44, 43, 43);
    justify-self:center;
    border-radius:10px;
    box-shadow:.1px .1px 10px rgb(77, 74, 74);
    cursor: pointer;
    width:100px;
    height:25px;
    font-size:20px;
    font-weight:bolder;
    text-align:center;
}