* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: "system-ui", sans-serif;
    font-weight: 200;
    color: white;
}
.main-container {
    display: flex;
    flex-direction: column;

    width: 13vw;
    margin: 10vh;
    border-radius: 5px;

    background-color: rgba(53, 57, 60);
    text-align: center;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 5px;
    font-size: 1.25rem;
    padding: 5px;
    height: 8vh;
    border-radius: 5px 5px 0 0;

    background-color: grey;
}

.top-display {
    position: absolute;
    font-size: 1rem;
    padding-bottom: 30px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    padding: 10px;
}

.controls > * {
    background: grey;
    padding: 5px;
}

.controls > *:hover {
    transition: 0.1s;
    opacity: 0.9;
    cursor: pointer;
}

.controls > *:active {
    box-shadow: 0 2px 5px black;
}

button {
    all: unset;
}

#clear {
    background: rgba(255, 0, 0, 0.4);
}
#clear:active {
    background: rgba(0, 128, 0, 0.4);
}

#result {
    background: dimgray;
}


